.right-column {
    display: flex;
    flex-direction: column;
    //gap: 16px; // Adds spacing between cards
  }
  
  mat-card {
    mat-card-content{
      white-space: pre-wrap;
    }
  }
  
  mat-list-item {
    padding: 8px 0;
  }
  .role{
    font-weight: bold;
  }
  .role-item {
    margin-bottom: 16px; // Adds spacing between roles
  }
  
  .duration {
    font-style: italic;
    color: #666; // Gray color for duration text
  }
  
  .description {
    margin-top: 8px; // Adds spacing between duration and description
  }