.about-me-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - (var(--header-height, 0rem) + var(--footer-height, 0rem)));
    max-width: 100%;
    flex: 1 0 auto;

    .about-me-page-title{
        color: white;
        text-align: center;
        font-size: clamp(.5rem,6vw, 10rem);
        margin: 0;
        padding-top: .8rem;
        padding-bottom: .8rem;
    }
    .mat-divider.mat-divider-horizontal {
        --mat-divider-color: grey;
        --mat-divider-width: 2px;

    }
    .about-me-card-content{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
}
