.app-resume-left-column {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
}
.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
  }


  .skill-item {
    display: flex;
    flex-direction: column;
  }
  
  .skill-name {
    font-weight: 500;
  }
  
  .rating-circles {
    display: flex;
    gap: 4px; // Adds spacing between circles
  }
  
  .circle {
    font-size: 16px; // Adjust the size of the circles
    color: #3f51b5; // Use Angular Material primary color or any color you prefer
  }

  //.email {
  //  ::ng-deep .mdc-list-item__content {
  //    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  //  }
 // }