.dark-medium-contrast {
  --md-sys-color-primary: rgb(220 220 220);
  --md-sys-color-surface-tint: rgb(198 198 198);
  --md-sys-color-on-primary: rgb(38 38 38);
  --md-sys-color-primary-container: rgb(145 145 145);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 213 164);
  --md-sys-color-on-secondary: rgb(56 33 0);
  --md-sys-color-secondary-container: rgb(243 158 0);
  --md-sys-color-on-secondary-container: rgb(55 32 0);
  --md-sys-color-tertiary: rgb(202 221 255);
  --md-sys-color-on-tertiary: rgb(0 38 76);
  --md-sys-color-tertiary-container: rgb(90 146 222);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 19 19);
  --md-sys-color-on-background: rgb(226 226 226);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(75 70 60);
  --md-sys-color-on-surface-variant: rgb(227 219 205);
  --md-sys-color-outline: rgb(184 177 163);
  --md-sys-color-outline-variant: rgb(150 144 131);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(43 42 42);
  --md-sys-color-inverse-primary: rgb(72 72 72);
  --md-sys-color-primary-fixed: rgb(226 226 226);
  --md-sys-color-on-primary-fixed: rgb(17 17 17);
  --md-sys-color-primary-fixed-dim: rgb(198 198 198);
  --md-sys-color-on-primary-fixed-variant: rgb(54 54 54);
  --md-sys-color-secondary-fixed: rgb(255 221 182);
  --md-sys-color-on-secondary-fixed: rgb(28 14 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 185 90);
  --md-sys-color-on-secondary-fixed-variant: rgb(78 48 0);
  --md-sys-color-tertiary-fixed: rgb(212 227 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 17 40);
  --md-sys-color-tertiary-fixed-dim: rgb(166 200 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 54 105);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(69 68 68);
  --md-sys-color-surface-container-lowest: rgb(7 7 7);
  --md-sys-color-surface-container-low: rgb(30 29 29);
  --md-sys-color-surface-container: rgb(40 40 40);
  --md-sys-color-surface-container-high: rgb(51 50 50);
  --md-sys-color-surface-container-highest: rgb(62 61 61);
}
