<div class="container" *ngIf="blogPostData">
    <mat-card class="blog-post-card">
      <mat-card-header class="blog-post-card-header">
        <div class="header-text-container">
        <mat-card-title class="blog-post-title">{{ blogPostData.title }}</mat-card-title>
        <mat-card-subtitle class="blog-post-subtitle">{{ blogPostData.date | date }}</mat-card-subtitle>
    </div>
      </mat-card-header>
      <mat-card-content class="blog-post-content">{{ blogPostData.content }}
      </mat-card-content>
    </mat-card>
  </div>
