
@use '@angular/material' as mat;
@use './themes/light-hc' as light-hc-theme;
@use './themes/light-mc' as light-mc-theme;
//@use './themes/light-color' as light-color;
@use './locomotive-scroll.scss' as locomotive-scroll;
@import './normalize.scss';
// Include Angular Material core styles
@include mat.core();

// Define your color palettes using Material 3’s theming APIs.

$black-palette: mat.define-palette((
  50: #ececec,
  100: #d6d6d6,
  200: #c7c7c7,
  300: #b9b9b9,
  400: #9e9d9d,
  500: #7c7c7c,
  600: #5c5c5c,
  700: #414040,
  800: #1f1e1e,
  900: #000000,
  A100: #d8d8d8,
  A200: #8d8d8d,
  A400: #3f3f3f,
  A700: #000000,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    80: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  )
));

$yellow-palette: mat.define-palette((
  50: #fffde7,
  100: #fff9c4,
  200: #fff59d,
  300: #fff176,
  400: #ffee58,
  500: #ffeb3b,
  600: #fdd835,
  700: #fbc02d,
  800: #f9a825,
  900: #f57f17,
  A100: #ffff8d,
  A200: #ffff00,
  A400: #ffea00,
  A700: #ffc400,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
));
$blue-palette: mat.define-palette((
  50: #e7f9ff,
  100: #d5f2fc,
  200: #97e4fd,
  300: #6dc8fd,
  400: #aecfff,
  500: #7eb1fd,
  600: #5e9efd,
  700: #3a88fc,
  800: #1471fc,
  900: #0366fa,
  A100: #e7f9ff,
  A200: #97e4fd,
  A400: #5e9efd,
  A700: #0366fa,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
));

$primary-palette: mat.define-palette($black-palette, A700, A100,200);
$accent-palette: mat.define-palette($yellow-palette, A200, A100, A400);
$tertiary-palette: mat.define-palette($blue-palette, A200, A100, A400);
$warn-palette: mat.define-palette(mat.$red-palette);

$heading-font-family: "'Anton', regular";
$regular-font-family: "'Lato', regular";
$subtitle-font-family:"'Anton', regular";
$caption-font-family: "'Anton', regular";
$button-font-family: "'Anton', regular";
// Define typography config
$typography-config: mat.define-typography-config(
  $font-family: $regular-font-family,
  $headline-1: (
    font-family: $heading-font-family,
    font-weight: 400,
    font-size: clamp(60px, 60px, 80px),
    letter-spacing: .5px,
  ),
  $headline-2: (
    font-family: $heading-font-family,
    font-weight: 300,
    font-size: clamp(45px, 45px, 60px),
    letter-spacing: .5px,
  ), 
  $headline-3: (
    font-family: $heading-font-family,
    font-weight: 300,
    font-size: clamp(35px, 35px, 45px),
    letter-spacing: .5px,
  ),
  $headline-4: (
    font-family: $heading-font-family,
    font-weight: 300,
    font-size: clamp(25px, 25px, 35px),
    letter-spacing: .5px,
  ),
  $headline-5: (
    font-family: $heading-font-family,
    font-weight: 300,
    font-size: clamp(20px, 20px, 25px),
    letter-spacing: .5px,
  ),
  $headline-6: (
    font-family: $heading-font-family,
    font-weight: 300,
    font-size: clamp(20px, 20px, 25px),
    letter-spacing: .5px,
  ),
  $subtitle-1: (
    font-family: $subtitle-font-family,
    font-weight: 300,
    font-size: clamp(18px, 18px, 20px),
    letter-spacing: .5px,
  ),
  $subtitle-2: (
    font-family: $subtitle-font-family,
    font-weight: 300,
    font-size: clamp(16px, 16px, 18px),
    letter-spacing: .5px,
  ),
  $body-1: (
    font-family: $regular-font-family,
    font-weight: 400,
    font-size: clamp(16px, 16px, 24px),
    letter-spacing: .5px,
  ),
  $body-2: (
    font-family: $regular-font-family,
    font-weight: 400,
    font-size: clamp(14px, 14px, 20px),
    letter-spacing: .5px,
  ),
  $caption: (
    font-family: $caption-font-family,
    font-weight: 300,
    font-size: clamp(16px, 16px, 20px),
    letter-spacing: .5px,
  ),
  $button: (
    font-family: $button-font-family,
    font-weight: 300,
    font-size: clamp(14px, 14px, 18px),
    letter-spacing: .5px,
  ),
);

$heading-font-family: 'Anton', sans-serif;
$regular-font-family: 'Red Hat Display', sans-serif;
$theme-typography: (
    plain-family: $regular-font-family,
    brand-family: $heading-font-family,
    bold-weight: 700,
    medium-weight: 500,
    regular-weight: 400,
);
// Create your custom theme.
$theme: mat.define-dark-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    tertiary: $tertiary-palette,
    warn: $warn-palette,
    //background:
    //foreground:
  ),
  typography: ($typography-config),
  density: 0,
));

// Create your custom theme.
//$light-theme: mat.define-light-theme((
//  color: (
//    primary: 
//  ) light-color.$light-color-scheme,
  // You can customize typography here if needed.
  //typography: mat.define-typography-config()
//  typography: $typography-config,
//  density: 0,
//));

html{
//  @extend .light-color;
  @include mat.all-component-themes($theme);
  @include mat.typography-hierarchy($theme);

}
.mat-body{
  height: auto;
  min-height: 100vh;
}
body{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.bg-color-black {
  background-color:black;
}

mat-card.mat-mdc-card.mdc-card {
  border-radius: 10px;
}
mat-card {

  padding: 10px auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .mat-mdc-card-header{
    background-color:#ffea00;
    color: black;
    border-radius: 10px 10px 0 0;
    border:2px solid;
    flex-direction: column;
    flex: 1 1 auto;
    text-wrap: wrap;
    padding-inline-start: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mat-mdc-card-content{
    //border:2px solid;
  }

  .mat-mdc-card-footer{
    display: flex;
    direction: column;
    justify-content: center;
    background-color:#ffea00;
    margin-top: auto;
    border:4px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
