//$primary-color: #3f51b5;
//$secondary-color: #ff4081;
.app-resume{
  height: auto;
}
.resume-container {
  display: flex;
  flex-direction: column;
}
.resume-header-container{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.resume-header-card{
  padding: 15px;
  border-radius: 20px;
  .resume-header-card-header{
      display: flex;
      flex-direction: row;
      border-radius: 20px;
      gap: 15px; 
    .header-image {
      background-image: url('../../assets/images/IMG_4254Blurred.jpg'); 
      background-size: cover;
      width: 150px; 
      height: 200px;
      border-radius: 20px;
        // Add some space between image and text
      //flex-shrink: 0;  
    }
    .header-text {
      border: 2px solid;
      border-radius: 20px;
      padding-left: 16px; 
      width: 100%;
      .mat-mdc-card-title {
          font-size: 40px;
      }
      .mat-mdc-card-subtitle {
          font-size: 30px;
      }
      .mat-mdc-caption {
          font-size: 20px;
      }
    }
  }
}
.columns-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-evenly;
    column-gap: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
}
    //gap: 2px  ;
    mat-card.mat-mdc-card.mdc-card.left-column-container-card{
      display: flex;
      flex-direction: column;
      padding: 15px;
      align-content: stretch;
      border-radius: 10px;
    }  
    mat-card.mat-mdc-card.mdc-card.right-column-container-card{
      display: flex;
      flex-direction: column;
      padding: 15px;
      align-content: stretch;
      border-radius: 10px;
    }
.app-resume-left-column {
  display:flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
}


