<div class="resume-container">
  <div class="resume-header-container">
    <mat-card class="resume-header-card">
      <mat-card-header class="resume-header-card-header">
        <div mat-card-avatar class="header-image"></div>
        <div class="header-text">
          <mat-card-title >{{resumeData.resume.name}}</mat-card-title> 
          <mat-card-subtitle>{{resumeData.resume.title}}</mat-card-subtitle>
          <p class="mat-caption"><br />{{resumeData.resume.quote}}<br /> -{{resumeData.resume.quoteAuthor}}</p>
          <p class="mat-caption"></p>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="columns-container">
    <mat-card class="left-column-container-card">
      <app-resume-left-column [data]="resumeData.resume.leftColumn"></app-resume-left-column>
    </mat-card>
    <mat-card class="right-column-container-card">
      <app-resume-right-column [data]="resumeData.resume.rightColumn"></app-resume-right-column>
    </mat-card>
  </div>
</div>
