.app-resume{
  height: auto;
}

.resume-container {
  display: flex;
  flex-direction: column;
}

.resume-header-container{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.resume-header-card{
  padding: 1rem;
  border-radius: 1.25rem;
  .resume-header-card-header{
      display: flex;
      flex-direction: row;
      border-radius: 1,25rem;
      gap: 1rem; 
    .header-image {
      background-image: url('../../assets/images/IMG_4254Blurred.jpg'); 
      background-size: cover;
      width: 10rem; 
      height: 12.5rem;
      border-radius: 1.25rem;
    }
    .header-text {
      border: 2px solid;
      border-radius: 1.25rem;
      padding-left: 1rem; 
      width: 100%;
      .mat-mdc-card-title {
          font-size: 2.5rem;
      }
      .mat-mdc-card-subtitle {
          font-size: 2rem;
      }
      .mat-mdc-caption {
          font-size: 1.25rem;
      }
    }
  }
}

.columns-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-evenly;
    column-gap: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
}

mat-card.mat-mdc-card.mdc-card.left-column-container-card{
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-content: stretch;
  border-radius: 10px;
}

mat-card.mat-mdc-card.mdc-card.right-column-container-card{
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-content: stretch;
  border-radius: 10px;
}

.app-resume-left-column {
  display:flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
}


