.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - (var(--header-height, 0px) + var(--footer-height, 0px)));
    max-width: 100%;
    flex: 1;
    
    .page-title{
        color: white;
        text-align: center;
        font-size: clamp(50%,10vw, 400%);
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mat-divider.mat-divider-horizontal {
        --mat-divider-color: grey;
        --mat-divider-width: 2px;

    }
    .mat-mdc-list{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .mat-mdc-list-item{
            margin: 0px 0px 10px 0px;
            height: 100%;
            .mat-mdc-card{
                .mat-mdc-card-header{
                    .mat-mdc-card-title{
                        --mat-card-title-text-size: clamp(50%, 8vw, 200%);
                    }
                }
            }
        }
    }

  }