<div class="homepage-container">

    <!--<mat-card  [style.height]="getImageContainerHeight()">-->
            <mat-card class="homepage-title-card">
            <!--<img src="../../assets/SilhoutteIbis.jpg">-->
        <!--<img mat-card-image src="../../assets/IMG_4254_orange_Background_homepage_small.jpg">-->
        <!--<div class="mdc-card__media  mdc-card__media--16-9" [style.height]="getImageContainerHeight()">-->
                <div class="mdc-card__media mdc-card__media--16-9" >    
                </div>
            </mat-card>

            <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile>
                    <mat-card style="width: calc(33.33% - 16px); margin: 4px;" class="homepage-service-card">
                        <mat-card-content>
                            Service 1
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card style="width: calc(33.33% - 16px); margin: 4px;" class="homepage-service-card">
                        <mat-card-content>
                            Service 2
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card style="width: calc(33.33% - 16px); margin: 4px;" class="homepage-service-card">
                        <mat-card-content>
                            Service 3
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
</div>