<div class="homepage-container">
    <mat-card class="homepage-title-card">
        <div data-scroll-section class="mdc-card__media mdc-card__media--16-9" >
        </div>
        <div data-scroll-section class="homepage-title-card-overlay">
            <div data-scroll class="homepage-title-card-overlay-box">
                Complex<br>
                Problems..
            </div>
            <div data-scroll class="homepage-title-card-overlay-box-2">
                ..Simple
            </div>
            <div data-scroll class="homepage-title-card-overlay-box-3">
                Solutions.
            </div>
        </div>
    </mat-card>
    <div class="services-grid-container">
        <div class="service-card-container">
        <mat-card class="service-card" id="design" >
            <div class="service-card-header-container">
                <mat-card-header>
                    <div mat-card-avatar class="design-service-image"></div>
                    <mat-card-title>Technology Architecture Services</mat-card-title>
                    <mat-card-subtitle>Complete Solution Design</mat-card-subtitle>
                </mat-card-header>
            </div>
            <div class="service-card-content-container">
                <mat-card-content>
                    <p>Regardless of the scope of your project or the scale of your future implementation, I can help with all aspects of the architectural solutioning & design process.</p>
                </mat-card-content>
            </div>
            <div class="service-card-footer-container">
                <mat-card-footer>
                    TECHNOLOGY DESIGN
                </mat-card-footer>
            </div>
            <!--mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions-->
        </mat-card>
        </div>
        <div class="service-card-container">
        <mat-card class="service-card" id="electronics">
            <div class="service-card-header-container">
                <mat-card-header>
                <div mat-card-avatar class="electronics-service-image"></div>
                    <mat-card-title>Electronics Repair</mat-card-title>
                    <mat-card-subtitle>Complete Solution Design</mat-card-subtitle>
                </mat-card-header>
            </div>
            <div class="service-card-content-container">
                <mat-card-content>
                    <p>Electronics Repair</p>
                </mat-card-content>
            </div>
            <div class="service-card-footer-container">
                <mat-card-footer>
                    ELECTRONICS
                </mat-card-footer>
            </div>
        </mat-card>
        </div>
        <div class="service-card-container">
        <mat-card class="service-card" id="home-maintenance">
            <div class="service-card-header-container">
                <mat-card-header>
                    <div mat-card-avatar class="home-maintenance-service-image"></div>
                    <mat-card-title>Home Maintenance Services</mat-card-title>
                    <mat-card-subtitle>Complete Solution Design</mat-card-subtitle>
                </mat-card-header>
            </div>
            <div class="service-card-content-container">
                <mat-card-content>
                    <p>Home maintenance services</p>
                </mat-card-content>
            </div>
            <div class="service-card-footer-container">
                <mat-card-footer>
                    HOME MAINTENANCE
                </mat-card-footer>
            </div>
        </mat-card>
        </div>
    </div>
</div>