$primary-color: #3f51b5;
$secondary-color: #ff4081;
//
//This line can be used to create styles based on screen size,
//so in the example below anything included in the curly brackets would 
//for screens that are 600px or less. This is how you make a screen design be reactive.
//@media only screen and (max-width: 600px){}
.homepage-container {
    //padding: 4px;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    background-color: #fcfcfc;
    .homepage-title-card {
        .mdc-card__media {
            background-image: url('../../assets/Homepage HD belt.jpg'); 
            background-size: cover;
            background-position: center;
            align-items: flex-start;
            width: auto;
            height: auto;
            //object-fit: cover; 
            //object-position: top;
        }
    }

    .mat-grid-list{
        .mat-grid-tile{
            background-color:#ff4081;
            .service-card{
                .development-service-image{
                    background-image: url('../../assets/webdev.jpg'); 
                }
                .mat-mdc-card-footer{
                    text-align: center;
                    font-weight: bold;

                }
            }
        }
    }
    
    //.services-container{
    //    display: grid;
    //    grid-template-columns: repeat(3, 1fr);
    //    grid-gap: 10px;
    //}

}