.dark-high-contrast {
  --md-sys-color-primary: rgb(255 240 186);
  --md-sys-color-surface-tint: rgb(219 198 110);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(215 194 107);
  --md-sys-color-on-primary-container: rgb(15 11 0);
  --md-sys-color-secondary: rgb(252 240 201);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(205 194 158);
  --md-sys-color-on-secondary-container: rgb(15 11 0);
  --md-sys-color-tertiary: rgb(210 250 219);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(165 204 175);
  --md-sys-color-on-tertiary-container: rgb(0 15 5);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(21 19 11);
  --md-sys-color-on-background: rgb(232 226 212);
  --md-sys-color-surface: rgb(21 19 11);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(75 71 57);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(247 239 221);
  --md-sys-color-outline-variant: rgb(201 194 177);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(232 226 212);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(85 71 0);
  --md-sys-color-primary-fixed: rgb(248 226 135);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(219 198 110);
  --md-sys-color-on-primary-fixed-variant: rgb(22 17 0);
  --md-sys-color-secondary-fixed: rgb(238 226 188);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(209 198 161);
  --md-sys-color-on-secondary-fixed-variant: rgb(22 17 0);
  --md-sys-color-tertiary-fixed: rgb(197 236 206);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(169 208 179);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 21 8);
  --md-sys-color-surface-dim: rgb(21 19 11);
  --md-sys-color-surface-bright: rgb(83 80 70);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(34 32 23);
  --md-sys-color-surface-container: rgb(51 48 39);
  --md-sys-color-surface-container-high: rgb(62 59 50);
  --md-sys-color-surface-container-highest: rgb(74 71 61);
}
