.dark-medium-contrast {
  --md-sys-color-primary: rgb(242 220 130);
  --md-sys-color-surface-tint: rgb(219 198 110);
  --md-sys-color-on-primary: rgb(45 37 0);
  --md-sys-color-primary-container: rgb(163 144 63);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(232 220 182);
  --md-sys-color-on-secondary: rgb(43 37 12);
  --md-sys-color-secondary-container: rgb(154 145 111);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(191 230 200);
  --md-sys-color-on-tertiary: rgb(8 44 24);
  --md-sys-color-tertiary-container: rgb(117 153 127);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(21 19 11);
  --md-sys-color-on-background: rgb(232 226 212);
  --md-sys-color-surface: rgb(21 19 11);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(75 71 57);
  --md-sys-color-on-surface-variant: rgb(227 220 202);
  --md-sys-color-outline: rgb(184 177 160);
  --md-sys-color-outline-variant: rgb(150 144 128);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(232 226 212);
  --md-sys-color-inverse-on-surface: rgb(45 42 33);
  --md-sys-color-inverse-primary: rgb(85 71 0);
  --md-sys-color-primary-fixed: rgb(248 226 135);
  --md-sys-color-on-primary-fixed: rgb(22 17 0);
  --md-sys-color-primary-fixed-dim: rgb(219 198 110);
  --md-sys-color-on-primary-fixed-variant: rgb(64 54 0);
  --md-sys-color-secondary-fixed: rgb(238 226 188);
  --md-sys-color-on-secondary-fixed: rgb(22 17 0);
  --md-sys-color-secondary-fixed-dim: rgb(209 198 161);
  --md-sys-color-on-secondary-fixed-variant: rgb(60 54 27);
  --md-sys-color-tertiary-fixed: rgb(197 236 206);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 8);
  --md-sys-color-tertiary-fixed-dim: rgb(169 208 179);
  --md-sys-color-on-tertiary-fixed-variant: rgb(27 61 40);
  --md-sys-color-surface-dim: rgb(21 19 11);
  --md-sys-color-surface-bright: rgb(72 68 58);
  --md-sys-color-surface-container-lowest: rgb(9 7 3);
  --md-sys-color-surface-container-low: rgb(32 29 21);
  --md-sys-color-surface-container: rgb(42 40 31);
  --md-sys-color-surface-container-high: rgb(53 50 41);
  --md-sys-color-surface-container-highest: rgb(65 61 52);
}
